<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Gils Blog</title>
</head>
<body>
    <div><h1> <u> <a href=""> Django Gils Blog </a> </u> </h1> </div>
    {% for post in posts %}
        <div>
            <p> publisched: {{ post.published_date }}</p>
            <h1> <a href=""> {{ post.title }}</a> </h1>
            <p>{{ post.text|linebreaks }}</p>
        </div>
    {% endfor %}
</body>
<footer> <a href="http://tutorial.djangogirls.org/en/html/index.html" > Django Tutorial</a>
<a href="http://baku.inf-d.de/ws14_ssd_7/"> html CSS </a> </footer>

</html>